footer {
    background-color: #2F303A;
    padding: 60px 0;
}

.footer__container {
    display: flex;
    align-items: baseline;
}

.footer-addres-box {
    min-width: 231px;
}

.logo-white {
    color: #fff;
}

.footer-addres-box__addres {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin: 20px 0 0 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    & {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:focus,
    &:hover {
        color: #2196F3;
    }
}

.footer-addres-box__contacts {
    padding: 0;
    margin: 0;

    & li {
        list-style: none;
        margin: 7px 0;

        & a {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
            text-decoration: none;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        & a:focus,
        & a:hover {
            color: #2196F3;
        }
    }
}

.footer-social-box {
    margin-left: 70px;
    min-width: 206px;

    & h3 {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.21;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 0 0 20px 0;
    }
}

.footer-social-box__svg {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    & li {
        list-style: none;
        width: 44px;
        height: 44px;

        & a {
            display: flex;
            padding: 12px;
            width: 44px;
            background: rgba(255, 255, 255, 0.1);
            border: 0;
            border-radius: 50%;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

            &:focus,
            &:hover {
                background-color: #2196F3;
            }

            &:focus svg,
            &:hover svg {
                fill: #FFFFFF;
            }
        }

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    & svg {
        fill: #FFFFFF;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}

.subscribe-box {
    margin-left: 94px;
    min-width: 570px;
    display: flex;
    flex-wrap: wrap;

    & h3 {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.21;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 0 0 20px 0;
    }
}

.subscribe-box__email {
    background: #2F303A;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;

    &:focus-visible {
        outline: none;
    }

    &::placeholder {
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        margin-right: 16px;
    }
}

.subscribe-box__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}

.subscribe-box__btn-send {
    margin-left: 10px;
    fill: #FFFFFF;
}


