header {
    background-color: #fff;
    border-bottom: 1px solid #ECECEC;
    height: 80px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.header-con {
    display: flex;
    flex-wrap: nowrap;
    padding: 24px 0 24px 0;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
}

.logo__blue {
    color: #2196F3;
}

.nav-container {
    margin: 0 344px 0 auto;
    display: flex;
    align-items: center;
}

.nav {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    & li:nth-child(2) {
            margin: 0 50px;
        }
    & li {
            list-style: none;
    }    
    & a {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #212121;
        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    & a:focus,
    & a:hover {
        color: #2196F3;
    }
}

.nav__active a {
    color: #2196F3;
    position: relative;
    &:after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 4px;
            bottom: -32px;
            left: 0;
            background: #2196F3;
            border-radius: 2px;
        }
}

.add-container {
    display: flex;
    align-items: center;
}

.head-address {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    & a {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    & a:focus,
    & a:hover {
        color: #2196F3;
    }
    & li:nth-child(1) {
        margin-right: 50px;
    }

    & a svg {
        margin-right: 10px;
        fill: currentColor;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}





















