.pf-work {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    & h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: #212121;
        text-align: left;
        margin: 0;

    }

    & p {
        margin: 4px 0 0 0;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.03em;
        color: #757575;
    }

    & li {
        display: flex;
        flex-direction: column;

        &:not(:nth-child(-n+3)) {
            margin-top: 30px;
        }

        &:not(:nth-child(3n+3)) {
            margin-right: 30px;
        }
    }

}

.work-title {
    border: 1px solid #EEEEEE;
    border-top: 0;
    padding: 20px 0 20px 24px;
}

.portfolio-link {
    text-decoration: none;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .overlay,
    &:focus .overlay {
        transform: translateY(0);
    }
}

.overlay-box {
    display: flex;
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    left: 0;
    transform: translateY(calc(100%));
    background: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    width: 100%;
    height: 294px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pf-work .overlay-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}



