.s4 {
    background: #F5F4FA;
    width: 100%;
    padding: 94px 0;

    & .container {
        flex-direction: column;
    }

    & h2 {
        text-align: center;
        margin: 0 0 50px 0;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
    }
}

.our-team {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    & li {
        width: 270px;
        vertical-align: top;
        list-style: none;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        padding-bottom: 30px;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

}

.our-team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 25px 0 0 0;
}

.our-team__job-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 10px 0 16px 0;
}

.our-team__svg {
    padding: 0;
    display: flex;
    justify-content: center;

    & li {
        width: 44px;
        height: 44px;
        border: 0;
        box-shadow: none;



        & a {
            display: flex;
            padding: 12px;
            width: 44px;
            border-radius: 50%;
            box-shadow: none;
            transition:
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);

            &:focus,
            &:hover {
                background-color: #2196F3;
                border: 0;
                border-radius: 50%;
            }

            &:focus svg,
            &:hover svg {
                fill: #FFFFFF;
            }
        }

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    & svg {
        fill: #AFB1B8;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}
